<button type="button" class="btn btn-icon btn-primary">
  <clr-icon shape="plus"></clr-icon> Ajouter un chat
</button>
<clr-datagrid class="table">
  <clr-dg-column>Nom</clr-dg-column>
  <clr-dg-column>Couleur</clr-dg-column>
  <clr-dg-column>Puce</clr-dg-column>
  <clr-dg-column>Tatouage</clr-dg-column>
  <clr-dg-column>Stérilisation</clr-dg-column>

  <clr-dg-row *ngFor="let chat of chats" [routerLink]="['detail/', chat.id]">
    <clr-dg-cell>{{ chat.nom }}</clr-dg-cell>
    <clr-dg-cell>{{ chat.couleurPoil }}</clr-dg-cell>
    <clr-dg-cell>
      <clr-icon *ngIf="chat.puce" shape="check"></clr-icon>
      <clr-icon *ngIf="!chat.puce" shape="times"></clr-icon>
    </clr-dg-cell>
    <clr-dg-cell>{{
      chat.tatouage === "" ? "Non" : chat.tatouage
    }}</clr-dg-cell>
    <clr-dg-cell>
      <clr-icon *ngIf="chat.sterilise" shape="check"></clr-icon>
      <clr-icon *ngIf="!chat.sterilise" shape="times"></clr-icon>
    </clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>

<!-- <clr-wizard #wizardmd [(clrWizardOpen)]="newChat" clrWizardSize="md">
    <clr-wizard-title>Nouveau chat !</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">Annuler</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">Précédent</clr-wizard-button>
    <clr-wizard-button [type]="'next'">Suivant</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">Créer chat</clr-wizard-button>

    <clr-wizard-page [clrWizardPageNextDisabled]="name.pristine || !formPageOne.valid">
        <ng-template clrPageTitle>Identité</ng-template>
        <form clrForm #formPageOne="ngForm">
            <clr-input-container>
                <label>Nom</label>
                <input clrInput required [(ngModel)]="chat.nom" name="name" #name="ngModel" />
                <clr-control-error>This field is required!</clr-control-error>
            </clr-input-container>

            <clr-input-container>
                <label>Favorite food</label>
                <input clrInput [(ngModel)]="model.favorite" name="favorite" />
            </clr-input-container>
        </form>
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Santé</ng-template>
        ...
    </clr-wizard-page>

    <clr-wizard-page>
        <ng-template clrPageTitle>Contexte</ng-template>
        ...
    </clr-wizard-page>
</clr-wizard> -->
