<button type="button" class="btn btn-icon btn-primary" (click)="showCreateWizard()">
  <clr-icon shape="plus"></clr-icon> Ajouter un chat
</button>
<clr-datagrid class="table">
  <clr-dg-column>Nom</clr-dg-column>
  <clr-dg-column>Couleur</clr-dg-column>
  <clr-dg-column>Puce</clr-dg-column>
  <clr-dg-column>Tatouage</clr-dg-column>
  <clr-dg-column>Stérilisation</clr-dg-column>

  <clr-dg-row *ngFor="let chat of chats">
    <clr-dg-cell>{{ chat.nom }}</clr-dg-cell>
    <clr-dg-cell>{{ chat.couleurPoil }}</clr-dg-cell>
    <clr-dg-cell>
      <clr-icon *ngIf="chat.puce" shape="check" class="is-success"></clr-icon>
      <clr-icon *ngIf="!chat.puce" shape="times"></clr-icon>
    </clr-dg-cell>
    <clr-dg-cell>{{ chat.tatouage === "" ? "-" : chat.tatouage }}</clr-dg-cell>
    <clr-dg-cell>
      <clr-icon
        *ngIf="chat.sterilise"
        shape="check"
        class="is-success"
      ></clr-icon>
      <clr-icon *ngIf="!chat.sterilise" shape="times"></clr-icon>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-detail *clrIfDetail="let detail">
    <clr-dg-detail-header>{{ detail.name }}</clr-dg-detail-header>
  </clr-dg-detail>
</clr-datagrid>

<clr-wizard #wizardlg [(clrWizardOpen)]="lgOpen" clrWizardSize="lg">
  <clr-wizard-title>Large-Sized Wizard</clr-wizard-title>

  <clr-wizard-button [type]="'cancel'">Cancel</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
  <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">Finish</clr-wizard-button>

  <clr-wizard-page>
      <ng-template clrPageTitle>Page 1</ng-template>
      ...
  </clr-wizard-page>

  <clr-wizard-page>
      <ng-template clrPageTitle>Page 2</ng-template>
      ...
  </clr-wizard-page>

  <clr-wizard-page>
      <ng-template clrPageTitle>Page 3</ng-template>
      ...
  </clr-wizard-page>
</clr-wizard>
