<div class="login-wrapper">
    <form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label class="title">
            <h3 class="welcome">Bienvenue sur </h3>
            Le Chat Libre de Toulouse
            <h5 class="hint">Connexion à l'administration</h5>
        </label>
        <div class="login-group">
            <input class="username" type="text" id="login_username" placeholder="Adresse e-mail"
                formControlName="username">
            <input class="password" type="password" id="login_password" placeholder="Mot de passe"
                formControlName="password">
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                    Se souvenir de moi
                </label>
            </div>
            <div class="error active" *ngIf="!loginForm.valid && loginForm.dirty">
                Adresse e-mail ou mot de passe invalide
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid"
                [clrLoading]="loginLoading">Suivant</button>
        </div>
    </form>
</div>