<div class="login-wrapper">
  <form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <section class="title">
      <h3 class="welcome">Bienvenue sur</h3>
      Le Chat Libre de Toulouse
      <h5 class="hint">Connexion à l'administration</h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Utilisateur</label>
        <input type="text" autocomplete="username" id="login_username" name="username" clrInput
          placeholder="Adresse e-mail" formControlName="username" />
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Mot de passe</label>
        <input type="password" autocomplete="current-password" name="password" clrPassword id="login_password"
          formControlName="password" placeholder="Mot de passe" />
      </clr-password-container>
      <clr-checkbox-wrapper>
        <label>Se souvenir de moi</label>
        <input type="checkbox" name="rememberMe" clrCheckbox id="rememberme" />
      </clr-checkbox-wrapper>
      <div class="error active" *ngIf="(!loginForm.valid && loginForm.dirty) || error">
        Adresse e-mail ou mot de passe invalide
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" [clrLoading]="loginLoading">
        Suivant
      </button>
    </div>
  </form>
</div>