<div class="main-container">
  <!-- <div class="alert alert-app-level"></div> -->
  <header class="header header-5">
    <div class="branding">
      <a class="nav-link nav-text" routerLink="/">
        <span class="title">Le Chat Libre Toulouse</span>
      </a>
    </div>
    <!-- <div class="header-nav">
            <a class="nav-link nav-text">Chats en attente d'adoption</a>
        </div> -->
    <div class="search">
      <form class="search">
        <label for="search_input">
          <input id="search_input" placeholder="Rechercher un chat..." type="text" />
        </label>
      </form>
    </div>
    <div class="header-actions header-actions--overflow">
      <a routerLink="/login" class="nav-link nav-icon">
        <cds-icon shape="cog"></cds-icon>
      </a>
    </div>
  </header>
  <!-- <nav class="subnav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="home" routerLinkActive="active">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="chats" routerLinkActive="active">Chats à adopter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Prochaines expositions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Des nouvelles des adoptés !</a>
            </li>
        </ul>
    </nav> -->
  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" class="nav-trigger--bottom">
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./home">
        <cds-icon shape="certificate" clrVerticalNavIcon></cds-icon>
        News
      </a>
      <clr-vertical-nav-group routerLinkActive="active">
        <a routerLink="./chats" hidden aria-hidden="true"></a>
        <cds-icon shape="flame" clrVerticalNavIcon></cds-icon>
        Chats
        <clr-vertical-nav-group-children *clrIfExpanded>
          <a clrVerticalNavLink routerLink="./fire/charmander" routerLinkActive="active">Charmander</a>
          <a clrVerticalNavLink routerLink="./fire/charizard" routerLinkActive="active">Charizard</a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <a routerLink="./electric" hidden aria-hidden="true"></a>
        <cds-icon shape="bolt" clrVerticalNavIcon></cds-icon>
        Evénements
        <clr-vertical-nav-group-children *clrIfExpanded>
          <a clrVerticalNavLink routerLink="./electric/pikachu" routerLinkActive="active">Pikachu</a>
          <a clrVerticalNavLink routerLink="./electric/raichu" routerLinkActive="active">Raichu</a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
        <cds-icon shape="certificate" clrVerticalNavIcon></cds-icon>
        Familles d'accueil
      </a>
      <a clrVerticalNavLink routerLinkActive="active" routerLink="./credit">
        <cds-icon shape="certificate" clrVerticalNavIcon></cds-icon>
        Social
      </a>
    </clr-vertical-nav>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>