<div class="clr-row">
    <div class="clr-col-7">
        <h2>Quoi de neuf ?</h2>
        <clr-accordion>
            <clr-accordion-panel [(clrAccordionPanelOpen)]="panelOpen">
                <clr-accordion-title>
                    <div class="clr-row">
                        <div class="clr-col-8">
                            <span>Vendredi 18 Mars 2023 - Truffaut Esquirol</span>
                        </div>
                        <div class="clr-col-4">
                            <span class="label label-info">A venir</span>
                        </div>
                    </div>
                </clr-accordion-title>
                <clr-accordion-content *clrIfExpanded>

                </clr-accordion-content>
            </clr-accordion-panel>

            <clr-accordion-panel>
                <clr-accordion-title>Item 2</clr-accordion-title>
                <clr-accordion-content *clrIfExpanded>Content 2</clr-accordion-content>
            </clr-accordion-panel>

            <clr-accordion-panel>
                <clr-accordion-title>Item 3</clr-accordion-title>
                <clr-accordion-content *clrIfExpanded>Content 3</clr-accordion-content>
            </clr-accordion-panel>
        </clr-accordion>
    </div>
    <div class="clr-col-5">
        <h2>Les nouveaux venus</h2>
        <div class="clr-row">
            <div class="clr-col-6">
                <div class="card">
                    <div class="card-header">Maslina</div>
                    <div class="card-block">
                        <div class="card-media-block">
                            <img src="assets/masli.png" class="card-media-image">
                            <div class="card-media-description">
                                <span class="card-media-title">Noir & Blanc</span>
                                <span class="card-media-text">Trouvé par : Wiwi</span>
                            </div>
                        </div>
                        <div class="card-text">
                            Vient de Roumanie
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr-col-6">
                <div class="card">
                    <div class="card-header">
                        Wiwi
                    </div>
                    <div class="card-block">
                        <div class="card-media-block">
                            <img src="assets/wiwi.png" class="card-media-image">
                            <div class="card-media-description">
                                <span class="card-media-title">
                                    Tabby roux
                                </span>
                                <span class="card-media-text">
                                    Trouvé par : Maslina
                                </span>
                            </div>
                        </div>
                        <div class="card-text">
                            Trouvé à côté d'un paquet de croquettes
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr-col-6"></div>
            <div class="clr-col-6"></div>
        </div>
    </div>
</div>