<div class="clr-row">
    
    <div class="clr-col-7">
        <h2>Quoi de neuf ?</h2>
        <ul id="demoTabs" class="nav" role="tablist">
            <li role="presentation" class="nav-item">
                <button id="tab1" class="btn btn-link nav-link active" aria-controls="panel1"
                        aria-selected="true" type="button">Weekend dernier</button>
            </li>
            <li role="presentation" class="nav-item">
                <button id="tab2" class="btn btn-link nav-link" aria-controls="panel2"
                        aria-selected="false" type="button">Weekend à venir</button>
            </li>
        </ul>
        <section id="panel1" role="tabpanel" aria-labelledby="tab1">
            Truffaut
        </section>
        <section id="panel2" role="tabpanel" aria-labelledby="tab2" aria-hidden="true">
            PJ
        </section>
    </div>
    <div class="clr-col-5">
        <h2>Les nouveaux venus</h2>
        <div class="clr-row">
            <div class="clr-col-6">
                <div class="card">
                    <div class="card-header">
                        Killy
                    </div>
                    <div class="card-block">
                        <div class="card-media-block">
                            <img src="assets/killy2.png" class="card-media-image">
                            <div class="card-media-description">
                                <span class="card-media-title">
                                    Noir
                                </span>
                                <span class="card-media-text">
                                    Trouvé par : Wiwi
                                </span>
                            </div>
                        </div>
                        <div class="card-text">
                            Trouvé le week-end dernier à Castorama
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr-col-6">
                <div class="card">
                    <div class="card-header">
                        Wiwi
                    </div>
                    <div class="card-block">
                        <div class="card-media-block">
                            <img src="assets/killy2.png" class="card-media-image">
                            <div class="card-media-description">
                                <span class="card-media-title">
                                    Tabby roux
                                </span>
                                <span class="card-media-text">
                                    Trouvé par : Killy
                                </span>
                            </div>
                        </div>
                        <div class="card-text">
                            Trouvé à côté d'un paquet de croquettes
                        </div>
                    </div>
                </div>
            </div>
            <div class="clr-col-6"></div>
            <div class="clr-col-6"></div>
        </div>
    </div>
</div>