/* You can add global styles to this file, and also import other style files */
.datagrid-host .datagrid {
    margin-top: 0px;
}

.nav-text,
.card-media-description {
    font-size: 14px;
}

.clr-accordion {
    margin-top: 1.2rem;
}

.clr-accordion-title {
    width: 100%
}